{%extends 'layouts/default.html'%} {%block content%}

<h1 class="text-3xl my-4">Register</h1>

<form action="{%url 'users:create'%}" method="post" class="flex flex-col gap-4 w-1/2">

    {% comment %} <label for="username">Username</label>
    <input type="text" name="username" class="input">

    <label for="password">Password</label>
    <input type="password" name="password"  class="input">
    <div>
        <button class="btn btn-primary" type="submit">Register</button>
    </div> {% endcomment %}
    {% csrf_token %}
    {%for field in form%}
        {{field.label_tag}}
        {{field}}
      
        {%if field.errors%}
        {%for error in field.errors%}
        <div role="alert" class="alert alert-error">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span> {{error}}</span>
        {%endfor%}
        </div>  
        {%endif%}

    {%endfor%}
    <div>
        <button class="btn btn-primary" type="submit">Register</button>
    </div> 
    
</form>





{%endblock%}